@import url(https://fonts.googleapis.com/css?family=Bungee);

body {
  background-color:lightblue;
}
#Skibidi {
  color: navy;
  font-family:'Bungee';
  text-align:center;
}

.Skibidoi {
  color:navy;
  font-family:'Bungee';
  text-align:center;
}

.Topic {
  border:5px solid black;
  margin: 0px;
  background-color:grey;
  border-radius:10px;
  
}

.Login {
  border: 5px solid grey;
  background-color:skyblue;
  text-align:center;
  font-family:'Bungee';
  color:Navy;
  margin:40px ;
  font-size: 10pt;
  border-radius:20px;
  padding: 25pt;
}

.Login:hover {
  transform: scale(1.02);
}

h6{
  font-family:'Bungee';
}

a:hover {
    color:red;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    transform: scale(1.05);
}

h1 {
    font-family: "Bungee";
    text-align: center;
}